@import "tailwindcss";

@theme inline {
  --font-hero: var(--font-hero);
  --font-sub_hero: var(--font-sub_hero)
}

@theme {
  --color-bg1: #0B0F15;
  --color-bg2: #1A1F24;
  --color-bglight: #E5E7EB;
  --color-ac1: #C3B1E1;
  --color-ac2: #F2A6B3;
  --color-ac3: #FF6F61;
  --color-ac4: #6FB3B8;
  --color-txt1: #F5F5F5;
  --color-txt2: #A6A6A6;
}